        <div class="item">Imagem da Receita
            <input type="url" name="image" value="{{recipe.image}}">
        </div>
        
        <div class="item">Titulo da Receita
            <input type="text" name="title" value="{{recipe.title}}">
        </div>
        
        <div class="item">Autor
            <input type="text" name="author" value="{{recipe.author}}">
        </div>