.footer-box {
    margin-top: 50px;
    display: flex;
    flex: 1;
    width: 100%;
    align-items: flex-end;

}


footer {
    padding: 23px 0;
    background-color: #eeeeee;
    width: 100%;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #999999;
    line-height: 16px;
}
