<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css" >
    <link rel="stylesheet" href="/css/footer.css" >
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    {% block head %}
        <title>Admin Foodfy</title>
    {% endblock %}
</head>
<body>
    
    
    <header>
        <div class="header-wrapper">
            <a href="/admin/recipes" ><img src="/assets/logo.png" alt="Foodfy - Area administrativa"></a>
            <div class="menu">
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
        </div>
        </div>

    </header>

    <div class="wrapper">
        {% block content %}

        {% endblock %}
    </div>


    <div class="footer-box">
        <footer>
            <p>Todos os direitos reservados, receitas Foodfy</p>
        </footer>
    </div>

    
    <script src="/js/admin-script.js"></script>
    <script src="/js/header.js"></script>
</body>
</html>