    
    <div class="admin-recipes-wrapper">
        {% for recipe in recipes %}
            <div class="item">
                <div class="image" style="background: url('{{recipe.image}}') no-repeat center / cover"></div>
                <div class="item-info">
                    <p>{{recipe.title}}</p>
                    <span>por {{recipe.chef}}</span>
                    <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </div>