{% extends 'admin/layout.njk' %}

{% block head %}
    <title>Editar receita | Admin Foodfy</title>
{% endblock %}


{%block content %}

    <form id="delete" method='POST' action="/admin/recipes?_method=DELETE">
        <input type="hidden" value="{{recipe.id}}" name="id">
        <button type="submit">Deletar</button> 
    </form>

    <form method='POST' action="/admin/recipes?_method=PUT" >

        <div class="title-wrapper">
            <h3>Editando receita</h3>
            <button type="submit">Salvar receita</button> 
        </div>

        {% include 'admin/recipes/fields.njk' %}
       
        <div class="item" id="ingredients">Ingredientes
            {% for ingredient in recipe.ingredients %}
                <div class="ingredient">
                    <input type="text" name="ingredients[]" value="{{ingredient}}">
                </div>
            {% endfor %}
        </div>
        

        <p id="new-ingredient">Adicionar novo ingrediente</p>
        
        
        <div class="item" id="steps">Modo de preparo
            {% for preparation in recipe.preparation%}
                <div class="step">
                    <input type="text" name="preparation[]" value="{{preparation}}">
                </div>
            {% endfor %}
        </div>
        

        <p id="new-step">Adicionar novo passo</p>
        
        <div class="item">Informações adicionais
            <textarea name="information">{{recipe.information}}</textarea>
        </div>

        <input class="hidden" type="text" name="id" value="{{recipe.id}}">
    </form>

{% endblock %}