{% extends 'admin/layout.njk' %}

{% block head %}
<title>Listagem de Receitas | Admin Foodfy</title>
{% endblock %}

{% block content %}
    <h2 id='index-h2'>Gerenciar receitas</h2>

    {% include 'admin/recipes-list.njk' %}
{% endblock %}