{% extends "layout.njk" %}

{% block head %}
    <title>Sobre | Foodfy</title>
    <link rel="stylesheet" href="css/receitas.css"></head>
{% endblock %}


{% block content %}    
    <div class="receitas">
            <div class="search-info">

            </div>
            <div class="cards">
                {% for card in recipes %}
                    <div class="card">
                        <img src="{{card.image}}" alt="{{card.title}}">
                        <h3>{{card.title}}</h3>
                        <span>por {{card.chef}}</span>
                    </div>
                {% endfor %}
            </div>
    </div>


    <script src="js/script.js"></script>
{% endblock %}